<%- include('../partials/header') %>

<section id="show-page">
  <div>River: </div>
  <div><%= river.name %></div>
  <div>Difficulty: </div>
  <div><%= river.adminDifficulty %></div>
  <div>Open: </div>
  <div><%= river.open ? 'Yes' : 'Nope' %></div>
  
<br><br>
<h2>Comments</h2>
<% if (user) { %>
  <form id="add-comment-form" method="POST" action="/rivers/<%= river._id %>/comments">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Comment">
  </form>
<% } %>
<% if (river.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
        <th>Rating</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% river.comments.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
          <td class="review-user"><img src="<%= r.userAvatar %>"><%= r.userName %></td>
          <td><%= r.createdAt.toLocaleDateString() %></td>
          <td><%= r.content %></td>
          <td><%= r.rating %></td>
          <td>
            <% if (user && user._id.equals(r.user)) { %>
              <form action="/comments/<%= r._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="3"></td>
        <td><strong><%= (total / river.comments.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %> -->


<%- include('../partials/footer') %>