<%- include('../partials/header') %>

<section id="show-page">
  <div>Lake/River: </div>
  <div><%= river.title %></div>
  <div>Difficulty: </div>
  <div><%= river.difficulty %></div>
  
<h2>Comments</h2>
<% if (user) { %>
  <form id="add-comment-form" method="POST" action="/rivers/<%= river._id %>/comments">
    <label>Review:</label>
    <textarea name="content"></textarea><br>
    <label>Rating:</label>
    <select name="userDifficulty">
      <option value="Beginner">Beginner</option>
      <option value="Intermediate">Intermediate</option>
      <option value="Expert" selected>Expert</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
<% } %>
<% if (river.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% river.comments.forEach(function(c) { %>
        <tr>
          <td><%= c.createdAt.toLocaleDateString() %></td>
          <td><%= c.content %></td>
          <td><%= c.userDifficulty %></td>
          <td><% if (user && user._id.equals(c.user)) { %>
            <form action="/comments/<%= c._id %>?_method=PUT" method="POST">
              <input name="content" id="review" value="<%= c.content %>">
              <button type="submit">Update Review</button>
            </form>
            <% } %>
          </td>
          <td>
            <% if (user && user._id.equals(c.user)) { %>
              <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                <button type="submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Comments Yet</h5>
<% } %>


<%- include('../partials/footer') %>